<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "selenium" parallel="classes" thread-count="2">
    <test name= "LoginTests">
        <classes>
            <class name="LoginTests"/>
        </classes>
    </test>
    <test name="LogoutTests">
        <classes>
            <class name="LogoutTests"/>
        </classes>
    </test>
    <test name="MenuTests">
        <classes>
            <class name="MenuTests"/>
        </classes>
    </test>
    <test name="SearchTests">
        <classes>
            <class name="SearchTests"/>
        </classes>
    </test>
    <test name="FilteringTests">
        <classes>
            <class name="FilteringTests"/>
        </classes>
    </test>
</suite>